includes:
    - phpstan-baseline.neon
    - phpstan-pest-extension.neon
    - vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
    level: 7
    paths:
        - src

    reportUnmatchedIgnoredErrors: false
