includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    level: max
    paths:
        - src
    excludes_analyse:
        - src/globals.php

    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - "#Undefined variable: \\$this#"
        - "#is not allowed to extend#"
        - "#Language construct eval#"
        - "# with null as default value#"
        - "#has parameter \\$closure with default value.#"
        - "#has parameter \\$description with default value.#"
        - "#Method Pest\\\\Support\\\\Reflection::getParameterClassName\\(\\) has a nullable return type declaration.#"
