includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    level: max
    paths:
        - src

    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - "#type mixed is not subtype of native#"
        - "#Undefined variable: \\$this#"
        - "#is not allowed to extend#"
        - "#Language construct eval#"
        - "# with null as default value#"
        - "#has parameter \\$closure with default value.#"
        - "#has parameter \\$description with default value.#"
        - "#Method Pest\\\\Support\\\\Reflection::getParameterClassName\\(\\) has a nullable return type declaration.#"
        -
            message: '#Call to an undefined method PHPUnit\\Framework\\Test::getName\(\)#'
            path: src/TeamCity.php
        -
            message: '#invalid typehint type Pest\\Concerns\\TestCase#'
            path: src/TeamCity.php
        -
            message: '#is not subtype of native type PHPUnit\\Framework\\Test#'
            path: src/TeamCity.php
