name: Tests

on: ['push', 'pull_request']

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest] # (macos-latest, windows-latest) 2.x-dev is under development
        php: ['8.1', '8.2']
        dependency-version: [prefer-lowest, prefer-stable]
        parallel: ['', '--parallel']

    name: PHP ${{ matrix.php }} - ${{ matrix.os }} - ${{ matrix.dependency-version }} - ${{ matrix.parallel }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        tools: composer:v2
        coverage: none

    - name: Setup Problem Matches
      run: |
        echo "::add-matcher::${{ runner.tool_cache }}/php.json"
        echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - name: Install PHP dependencies
      run: composer update --${{ matrix.dependency-version }} --no-interaction --no-progress --ansi

    - name: Unit Tests
      run: php bin/pest --colors=always --exclude-group=integration

    - name: Unit Tests
      run: php bin/pest --colors=always --exclude-group=integration ${{ matrix.parallel }}
      if: ${{ false }}  # 2.x-dev is under development

    - name: Integration Tests
      run: php bin/pest --colors=always --group=integration
